<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.2.1.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="apdev-flight-ws"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="apdev-flight-ws"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking"/>
</launchConfiguration>
